<!DOCTYPE html>
<html>
    <head>
          <title>Lintang</title>
        <style>
            body{background:red; font-family:verdana;
            color:white; padding:150px;}
            h1{font-size:72px; text-transform:uppercase;
            letter-spacing:2px; text-align:center;}
            p{font-size:32px; text-align:center;}
        </style>
    </head>
    <body>
        <h1>Welcome to Kedai Mamak!</h1>
            <ul>
            <% 
                for(i=0;i<product.length;i++)
                {
                    if(product [i] == 'Nasi Goreng')
                    %>
                        <li><a href='satupoint'><h2><%= product[i]; %></a></h2></li>
                    <%
                }


            %>
            </ul>
    </body>
</html>