<!DOCTYPE html>
<html>
    <head>
        <title>KantongMu</title>
        <style>
            body{background:purple; font-family:verdana;
            color:white; padding:150px;}
            h1{font-size:72px; text-transform:uppercase;
            letter-spacing:2px; text-align:center;}
            h2{font-size:25px; text-transform:uppercase;
            letter-spacing:2px; text-align:center;}
            p{font-size:32px; text-align:center;}
        </style>
    </head>
    <body>
        <h1><%=description.nama%></h1>
            
            <h2>
                <%=description.price%>
                <p></p>
                <%=description.description%>
            </h2>
        
            %>
    </body>
</html>